services:
  iris:
    build: 
      context: .
    restart: always
    container_name: web-app
    hostname: web-app
    ports:
      - 7771:1972
      - 7772:52773
      - 7773:53773
    command: --check-caps false --ISCAgent false
    volumes:
      - ./front-end:/front-end
      - ./swagger-ui/index.html:/usr/irissys/csp/swagger-ui/index.html
