<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="todo-list.ZPM">
    <Module>
      <Name>todo-list</Name>
      <Version>1.0.2</Version>
      <Description>Todo List App</Description>
      <Keywords>REST</Keywords>
      <Packaging>module</Packaging>
      <Resource Name="Todo.pkg" Directory="cls" />
      <CSPApplication CookiePath="/front-end/" DefaultTimeout="900" DispatchClass="Todo.REST" MatchRoles=":%All" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="1" Url="/front-end/api" UseSessionCookie="2"/>
      <CSPApplication CookiePath="/front-end/" DefaultTimeout="900" SourcePath="/front-end/todoapp" DeployPath="${cspdir}front-end" MatchRoles=":%All" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="1" Url="/front-end" UseSessionCookie="2"/>
      <SourcesRoot>src</SourcesRoot>
    </Module>
  </Document>
</Export>
