<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="todo-list.ZPM">
    <Module>
      <Name>todo-list</Name>
      <Version>1.0.0</Version>
      <Description>Todo List App</Description>
      <Keywords>REST</Keywords>
      <Packaging>module</Packaging>
      <CSPApplication AuthenticationMethods="36" CookiePath="/csp/irisapp/" DefaultTimeout="900" DeployPath="${cspdir}irisapp" Description="Interoperability Management Portal" Recurse="1" Resource="%Ens_Portal" ServeFiles="1" ServeFilesTimeout="3600" Url="/csp/irisapp" UseSessionCookie="2"/>
      <CSPApplication CookiePath="/front-end/api/" DefaultTimeout="900" DispatchClass="Todo.REST" MatchRoles=":%All" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="1" Url="/front-end/api" UseSessionCookie="2"/>
      <CSPApplication CookiePath="/front-end/" DefaultTimeout="900" DeployPath="/front-end/todoapp" MatchRoles=":%All" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="1" Url="/front-end" UseSessionCookie="2"/>
      <SourcesRoot>src</SourcesRoot>
    </Module>
  </Document>
</Export>