body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
}
main.ng-enter {
    /* transition on enter for 200ms */
    transition: .2s;

    /* start with opacity 0 (invisible) */
    opacity: 0;
}
 
main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}
.container {
    color:greenyellow;
}

.col-xs-10:hover {
    background-color: gray;
  }

.completed {
    color: #888;
    font-style: italic;
}

.version {
    color: grey;
    font-style: italic;
    font-size: x-small;
}

.ts {
    color: goldenrod;
    font-style: normal;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
